<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<!-- Place the code for your plugin wherever you want the plugin to appear on your page. -->

<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>
